<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!--微信核心业务服务-->
	<bean id="coreService" class="ipower.micromessage.service.http.impl.CoreServiceImpl">
		<property name="token" value="${micro_local_token}"/>
		<property name="receiveHandler" ref="receiveHandlerService"/>
	</bean>
	<!--请求消息处理 -->
	<bean id="receiveHandlerService" class="ipower.micromessage.service.http.impl.ReceiveHandlerServiceImpl">
		<!--消息处理 -->
		<property name="handlers">
			<map>
				<!--1.文本消息 -->
				<entry key="text" ref="defaultMsgHandler"/>
				<!--2.图片消息 -->
				<entry key="image" ref="defaultMsgHandler"/>
				<!--3.语音消息 -->
				<entry key="voice" ref="defaultMsgHandler"/>
				<!--4.视频消息 -->
				<entry key="video" ref="defaultMsgHandler"/>
				<!--5.地理位置消息 -->
				<entry key="location" ref="defaultMsgHandler"/>
				<!--6.链接消息 -->
				<entry key="link" ref="defaultMsgHandler"/>
			</map>
		</property>
		<!--事件消息处理 -->
		<property name="eventHandlers">
			<map>
				<!--1.关注事件 -->
				<entry key="subscribe" ref="defaultEventMsgHandler"/>
				<!--2.取消关注事件 -->
				<entry key="unsubscribe" ref="defaultEventMsgHandler"/>
				<!--3.扫描事件 -->
				<entry key="SCAN" ref="defaultEventMsgHandler"/>
				<!--4.上报地理位置事件 -->
				<entry key="LOCATION" ref="defaultEventMsgHandler"/>
				<!--5.自定义菜单事件 -->
				<entry key="CLICK" ref="defaultEventMsgHandler"/>
			</map>
		</property>
	</bean>
	<!--默认消息处理 -->
	<bean id="defaultMsgHandler" class="ipower.micromessage.service.http.impl.DefaultMessageHandlerImpl"/>
	<!--默认事件消息处理 -->
	<bean id="defaultEventMsgHandler" class="ipower.micromessage.service.http.impl.DefaultEventMessageHandlerImpl"/>
	
	<!--https证书 -->
	<bean id="sslX509TrustManager" class="ipower.micromessage.service.http.impl.SSLX509TrustManagerImpl"/>
	<!--全局唯一票据 -->
	<bean id="accessTokenService" class="ipower.micromessage.service.http.impl.AccessTokenServiceImpl">
		<property name="x509TrustManager" ref="sslX509TrustManager"/>
		<property name="url" value="${micro_access_token_url}"/>
		<property name="appId" value="${micro_appId}"/>
		<property name="secret" value="${micro_appsecret}"/>
	</bean>
	
	<!--菜单服务-->
	<bean id="menuService" class="ipower.micromessage.service.impl.MenuServiceImpl"> 
		<property name="menuFile" value="${menuFile}"/>
	</bean>
	<!--微信菜单服务 -->
	<bean id="microMenuService" class="ipower.micromessage.service.impl.MicroMenuServiceImpl">
		<property name="x509TrustManager" ref="sslX509TrustManager"/>
		<property name="accessTokenService" ref="accessTokenService"/>
		<property name="menuService" ref="menuService"/>
		<property name="currentSystemId" value="${micro_current_systemId}"/>
		<property name="createUrl" value="${micro_menu_createUrl}"/>
		<property name="queryUrl" value="${micro_menu_queryUrl}"/>
		<property name="deleteUrl" value="${micro_menu_deleteUrl}"/>
	</bean>
		
</beans>