<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	
	<!--微信核心业务服务-->
	<bean id="coreService" class="ipower.micromessage.service.http.impl.CoreServiceImpl">
		<property name="token" value="yaesoft_micro"/>
		<property name="receiveHandler" ref="receiveHandlerService"/>
	</bean>
	<!--请求消息处理 -->
	<bean id="receiveHandlerService" class="ipower.micromessage.service.http.impl.ReceiveHandlerServiceImpl">
		<!--消息处理 -->
		<property name="handlers">
			<map>
				<!--1.文本消息 -->
				<entry key="text" ref=""/>
				<!--2.图片消息 -->
				<entry key="image" ref=""/>
				<!--3.语音消息 -->
				<entry key="voice" ref=""/>
				<!--4.视频消息 -->
				<entry key="video" ref=""/>
				<!--5.地理位置消息 -->
				<entry key="location" ref=""/>
				<!--6.链接消息 -->
				<entry key="link" ref=""/>
			</map>
		</property>
		<!--事件消息处理 -->
		<property name="eventHandlers">
			<map>
				<!--1.关注事件 -->
				<entry key="subscribe" ref=""/>
				<!--2.取消关注事件 -->
				<entry key="unsubscribe" ref=""/>
				<!--3.扫描事件 -->
				<entry key="SCAN" ref=""/>
				<!--4.上报地理位置事件 -->
				<entry key="LOCATION" ref=""/>
				<!--5.自定义菜单事件 -->
				<entry key="CLICK" ref=""/>
			</map>
		</property>
	</bean>
	<!--https证书 -->
	<bean id="SSLX509TrustManager" class="ipower.micromessage.service.http.impl.SSLX509TrustManagerImpl"/>
	<!--全局唯一票据 -->
	<bean id="accessTokenService" class="ipower.micromessage.service.http.impl.AccessTokenServiceImpl">
		<property name="x509TrustManager" ref="SSLX509TrustManager"/>
		<property name="url">https://api.weixin.qq.com/cgi-bin/token?grant_type=client_credential&appid=%1$s&secret=%2$s</property>
		<property name="appId" value="wx111b8e528b228a2d"/>
		<property name="secret" value="11bf889f7f68ec09f11267f68b4a9804"/>
	</bean>
	
	<!--菜单服务-->
	<bean id="MenuService" class="ipower.micromessage.service.impl.MenuServiceImpl"> 
		<property name="menuFile" value="main_menus.xml"/>
	</bean>
	
</beans>